.loading {
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  top: 124px;
  width: 200px;

  .spinner {
    font-size: 2em;
    margin-top: 80px;
  }
}
