.map {
  height: 230px;
  width: inherit;
}

.neighborhood-map {
  height: 310px;

  .map-label {
    color: $black;
    text-align: center;
    display: table;

    .map-label-container {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
