.section-header {
  color: $white;
  padding: 10px 15px;
  position: relative;
  text-align: center;

  &.section-green {
    background-color: $green;
  }

  &.section-red {
    background-color: $red;
  }

  &.section-orange {
    background-color: $orange;
  }

  &.section-teal {
    background-color: $teal;
  }

  h1, h2 {
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.section-content {
  padding: 15px;
}

.section-footer {
  font-size: 18px;
  line-height: 56px;
  padding: 5px 15px;

  &.section-green {
    background-color: $green;
  }

  &.section-red {
    background-color: $red;
  }

  &.section-orange {
    background-color: $orange;
  }

  &.section-teal {
    background-color: $teal;
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $black;
      }
    }
  }
}

.page-title {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  padding-top: 8px;
  text-align: center;

  &.orange {
    color: $orange;
  }

  &.red {
    color: $red;
  }

  &.teal {
    color: $teal;
  }

  &.green {
    color: $green;
  }
}
