.section-header {
  color: $white;
  padding: 10px 15px;
  position: relative;
  text-align: center;

  &.section-green {
    background-color: $green;
  }

  &.section-red {
    background-color: $red;
  }

  &.section-orange {
    background-color: $orange;
  }

  &.section-teal {
    background-color: $teal;
  }

  h1, h2 {
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  }
}

.section-link {
  cursor: pointer;
}

.section-content {
  padding: 25px 15px;
}

.section-links {
  bottom: 0;
  color: $dark-green;
  padding: 10px 0 15px;
  position: absolute;
  text-align: center;
  width: 100%;

  a {
    color: $dark-green;
    padding: 0 6px;
  }
}
