.results-title {
  text-align: left;
}

.selected-places {
  margin-right: 122px;
  text-align: left;
}

.mode-menu {
  background-color: $teal;
  position: absolute;
  right: 0;
  top: 0;
  width: 126px;
  z-index: 11;

  .mode {
    background-position: center center;
    background-size: auto 45px;
    background-repeat: no-repeat;
    height: 63px;

    &.selected {
      background-color: $green-dark;
    }

    &.walk {
      background-image: url('../images/icon-walk.png');
    }

    &.bike {
      background-image: url('../images/icon-bike.png');
    }

    &.transit {
      background-image: url('../images/icon-transit.png');
    }
  }
}

.place-list {
  .place {
    border-top: 1px $grey solid;

    &:first-child {
      border-top: none;
    }

    .place-title {
      background: url('../images/right-chevron.png') right 12px center no-repeat;
      cursor: pointer;
      font-size: 17px;
      padding: 12px 8px;
    }

    &.selected {
      .place-title {
        background: $teal url('../images/up-chevron-white.png') right 12px center no-repeat;
      }
    }
  }
}

.place-details {
  background: $teal;
  color: $white;

  .place-thumbnail {
    width: 100%;
  }

  .place-description {
    font-size: 14px;
    padding: 10px 15px;
  }
}

.route-details {
  background: $teal;
  color: $white;
  padding: 10px 15px;
  line-height: 24px;
  position: relative;

  label {
    width: 75px;
  }

  .btn-use {
    font-family:  'Cabin', 'Helvetica', sans-serif;
    background: $green-dark;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    color: $white;
    line-height: 25px;
    font-size: 18px;
    height: 70px;
    position: absolute;
    top: -30px;
    right: 30px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .place-list {
    .place {
      .place-title {
        background-image: url('../images/right-chevron@2x.png');
        background-size: 8px 13px;
      }

      &.selected {
        .place-title {
          background-image: url('../images/up-chevron-white@2x.png');
          background-size: 14px 9px;
        }
      }
    }
  }

  .mode-menu {
    .mode {
      &.walk {
        background-image: url('../images/icon-walk@2x.png');
      }

      &.bike {
        background-image: url('../images/icon-bike@2x.png');
      }

      &.transit {
        background-image: url('../images/icon-transit@2x.png');
      }
    }
  }
}
