.results-title {
  text-align: left;
}

.selected-places {
  margin-right: 122px;
  text-align: left;
}

.mode-menu {
  background-color: $teal;
  position: absolute;
  right: 0;
  top: 0;
  width: 126px;
  z-index: 11;

  .mode {
    background-position: center center;
    background-repeat: no-repeat;
    height: 77px;

    &.selected {
      background-color: $green-dark;
    }

    &.walk {
      background-image: url('../images/icon-walk.png');
    }

    &.bike {
      background-image: url('../images/icon-bike.png');
    }

    &.transit {
      background-image: url('../images/icon-transit.png');
    }
  }
}

.place-list {
  .place {
    border-top: 1px $grey solid;

    &:first-child {
      border-top: none;
    }

    .place-title {
      background: url('../images/right-chevron.png') right 12px center no-repeat;
      cursor: pointer;
      font-size: 17px;
      padding: 12px 8px;
    }

    &.selected {
      .place-title {
        background: $teal url('../images/up-chevron.png') right 12px center no-repeat;
      }
    }

    .place-details {
      padding: 12px 8px;

      .place-link {
        color: $black;
        display: block;
        padding-top: 6px;
        text-align: center;
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .place-list {
    .place {
      .place-title {
        background-image: url('../images/right-chevron@2x.png');
        background-size: 8px 13px;
      }

      &.selected {
        .place-title {
          background-image: url('../images/up-chevron@2x.png');
          background-size: 14px 9px;
        }
      }
    }
  }
}
