.safety-section {
  padding: 4px 0;

  .safety-image {
    width: 100px;
    height: 100px;
    display: inline-block;
  }

  .safety-text {
    display: inline-block;
    font-size: 17px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    width: 190px;
  }
}

@media only screen and (min-width: 450px)  {
  .safety-section {
    padding: 4px 20px;

    .safety-text {
      width: 215px;
    }
  }
}
