.search-menu {
  font-size: 16px;
  list-style-type: none;
  padding: 0;

  li {
    &.selected {
      background: url('../images/check.png') right 15px center no-repeat;
    }

    &.section-header {
      padding: 8px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        padding: 12px 8px 12px 32px;
      }
    }

    .place-select {
      li {
        border-top: 1px $grey solid;

        &.place-menu {
          background: url('../images/down-chevron.png') right 15px top 12px no-repeat;
          border-top: 1px $grey solid;
          cursor: pointer;

          &:first-child {
            border-top: none;
          }

          ul {
            display: none;
          }

          &.open {
            background-image: url('../images/up-chevron.png');
            padding: 0;

            .place-title {
              padding: 12px 8px 12px 32px;
            }

            ul {
              display: block;

              li {
                padding-left: 52px;
              }
            }
          }
        }
      }
    }

    &.start-address {
      padding: 12px 8px 12px 32px;
    }

    .mode-select {
      text-transform: capitalize;

      li {
        border-top: 1px $grey solid;

        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .search-menu li {
    &.place-menu {
      background-image: url('../images/down-chevron@2x.png');
      background-size: 23px 22px;

      &.open {
        background-image: url('../images/up-chevron@2x.png');
      }
    }

    &.selected {
      background-image: url('../images/check@2x.png');
      background-size: 33px 31px;
    }
  }
}
