$teal: #91D4BF;
$teal-light: rgb(189, 229, 217);
$green: #95C93D;
$green-light: rgb(191, 223, 139);
$green-dark: #18A071;
$green-medium: rgb(140, 208, 184);
$red: #EE7458;
$red-light: rgb(245, 172, 155);
$orange: #F89A2C;
$orange-light: rgb(251, 194, 128);
$tan: #FCF8CE;

$placeholder: #bfbfbf;
$white: #ffffff;
$black: #000000;
$grey: #C8C7CC;
