$teal: #91D4BF;
$teal-light: rgba(145, 212, 191, 0.6);
$green: #95C93D;
$green-light: rgba(149, 201, 61, 0.6);
$green-dark: #18A071;
$red: #EE7458;
$red-light: rgba(238, 116, 88, 0.6);
$orange: #F89A2C;
$orange-light: rgba(248, 154, 44, 0.6);
$tan: #FCF8CE;

$placeholder: #bfbfbf;
$white: #ffffff;
$black: #000000;
$grey: #C8C7CC;
