.welcome-title {
  background: $red-light url("../images/header-trees.png") center top no-repeat;
  color: $white;
  font-size: 50px;
  height: 200px;
  line-height: 75px;
  margin: 0;
  padding-top: 24px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-description {
  background: $teal;
  border-radius: 140px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: $white;
  font-size: 20px;
  height: 280px;
  line-height: 31px;
  margin: 20px auto 0;
  padding-top: 80px;
  position: relative;
  text-align: center;
  width: 280px;
  top: -40px;
  z-index: 2;
}

.btn-get-started {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: block;
  font-family: CocktailShaker;
  margin: 34px auto 35px;
  position: relative;
  text-align: center;
  width: 200px;
  z-index: 3;
}

.welcome-logo {
  background: url("../images/city-of-palm-springs-logo.png") 0 0 no-repeat;
  background-size: 100px 100px;
  position: absolute;
  top: -10px;
  right: 0;
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 330px)  {
  .welcome-title {
    font-size: 60px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .welcome-title {
    background-image: url("../images/header-trees@2x.png");
    background-size: 320px 200px;
  }

  .welcome-logo {
    background-image: url("../images/city-of-palm-springs-logo@2x.png");
  }
}
