.welcome-title {
  background: $red-light url("../images/header-trees.png") center top no-repeat;
  color: $white;
  font-size: 60px;
  height: 200px;
  line-height: 75px;
  margin: 0;
  padding-top: 24px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-description {
  background: $teal;
  border-radius: 150px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: $white;
  font-size: 20px;
  height: 300px;
  line-height: 31px;
  margin: 10px auto;
  padding-top: 35px;
  position: relative;
  text-align: center;
  width: 300px;
  z-index: 2;
}

.btn-get-started {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: block;
  font-family: CocktailShaker;
  margin: -120px auto 35px;
  position: relative;
  text-align: center;
  width: 200px;
  z-index: 3;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .welcome-title {
    background-image: url("../images/header-trees@2x.png");
    background-size: 320px 200px;
  }
}
